{% extends 'page.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-lg-3">
			<div class="titre-secondaire">Bienvenue {% if app.user %}{{ app.user.pseudo }}{% endif %}!</div>
			<h5>Il y a {{ actualites | length > 0 ? actualites | length ~  ' articles disponibles': 'aucun article disponible'}}.</h5>
			
			<div class="">
				Je vous invite à partager les expériences de voyages et les bonnes idées sur l'organisation et la préparation de prochaines échappées.
			</div>
			<ul class="texte-normal">Menu : 
				<li><a class="" href="">Afficher les trois derniers articles publiés</a></li>
				<li><a class="" href="">Informations sur le site et ses auteurs</a></li>
				<li><a class="" href="">Donner accès aux infos sur les mentions légales et la RGPD</a></li>
				<li><a class="" href="{{ path('rechercher') }}">Rechercher un article</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-lg-9">
			{# Affiche le message de succès après vérification de l'email #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}
			{# Affiche les infos #}
			
			<h2 class="titre-article">Les derniers articles publiés</h2>
			<div class="row">
				<div class="card-deck">
					{% for actualite in actualites %}
					
						<div class="card mb-4">
							<div class="card-header">
							<p>Catégorie :</p>
							<p>
								{% for categorie in actualite.categories %}
									<small>{{ categorie.nom }} </small>
								{% else %}
									<small>Aucune catégorie!</small>
								{% endfor %}
							</p>
							</div>
							<div class="card-body">
								<img src="{{ asset('assets/img/maroc.jpg') | imagine_filter('vignette')}}"  alt="{{ actualite.titre }}">
								<h5 class="card-title">{{ actualite.titre }}</h5>
								<p class="card-text">{{ actualite.contenu | slice(0, 150) | raw  }}</p>
							</div>
							<div class="card-footer text-muted">
								<small>Publié le : {{ actualite.publierAt | date('d/m/Y') }}</small>
								<p class="text-muted"><small><a href="{{path('article_lire', {'id': actualite.id})}}">Lire l'article </a></small></p>
							</div>	
						</div>
						<div class="w-100 d-none d-sm-block d-md-none">
							<!-- wrap every 2 on sm-->
						</div>

					{% else %}
					<div>
						<h5>Aucun article trouvé !</h5>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
