{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <h1>Media</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medium.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ medium.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('media_index') }}">Retour à la liste</a>

    <a href="{{ path('media_edit', {'id': medium.id}) }}">Modifier</a>

    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
